* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

section {
    width: 800px;
    height: 800px;
    margin: auto;
		border: 30px solid #000;
    border-radius: 50%;
    margin-top: 15px;
    box-shadow:
        inset 40px 40px 90px rgba(0,0,0,.2),
        inset 10px 10px 30px rgba(0,0,0,.5),
        20px 20px 30px rgba(0,0,0,.4),
        40px 40px 60px rgba(0,0,0,.4);
    position: relative;
    z-index: 1;
}

section:before {
    content: '';
    width: 95%;
    height: 95%;
    border-radius: 50%;
    display: block;
    background: transparent;
    border: 20px solid white;
}

section:after {
    content: '';
    width: 105%;
    height: 105%;
    border-radius: 50%;
    display: block;
    background: transparent;
    position: absolute;
    top: -2.5%;
    left: -2.5%;
    box-shadow: -3px -3px 18px rgba(255,255,255,.8);
}

.label {
    position: absolute;
    top: 190px;
    left: 50%;
		transform: translate(-50%, 0);
    font-size: 25px;
}

.hourhand,
.secondhand,
.minutehand {
    width: 250px;
    height: 20px;
    background: #000;
		left: 45%;
    position: absolute;
}

.minutehand:after {
    content: '';
    background: #000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 3;
    position: absolute;
    top: -15px;
    left: 15px;

}

.hourhand {
		top: 50%;
		transform-origin: 16%;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    box-shadow: -10px 0px 10px rgba(0,0,0,.4);
		/* animation: rotate 43200s infinite linear; */
}

.minutehand {
		top: 51%;
		transform-origin: 11.25%;
    width: 380px;
    height: 10px;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    box-shadow: -10px 10px 10px rgba(0,0,0,.4);
		/* animation: rotate 3600s infinite steps(60); */
}

.minutehand:before {
    content: '';
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 99;
    position: absolute;
    top: -180%;
    left: 17px;
    box-shadow: -2px -2px 7px rgba(255,255,255,.6);
}

.minutehand:after {
    top: -20px;
}

.secondhand {
		top: 51%;
		transform-origin: 12%;
    width: 350px;
    height: 5px;
    box-shadow: -10px -10px 10px rgba(0,0,0,.4);
		animation: rotate 60s infinite steps(60);

}

.hour12,
.hour1,
.hour2,
.hour3,
.hour4,
.hour5 {
    height: 10px;
    width: 650px;
    background: transparent;
    border-left: 70px solid #000;
    border-right: 70px solid #000;
    transform: translate(-50%, 50%);
    top: 50%;
    left: 50%;
    position: absolute;
}


.hour3 {
		left: 6%;
		transform: rotate(90deg);
}

.hour1 {
		left: 6%;
		transform: rotate(120deg);
}

.hour2 {
		left: 6%;
		transform: rotate(150deg);
}

.hour4 {
		left: 6%;
		transform: rotate(210deg);
}

.hour5 {
		left: 6%;
		transform: rotate(240deg);
}

@keyframes rotate {
	  100% {
		    transform: rotateZ(360deg);
	  }
}
